@charset "UTF-8";
.trend-chart-cnt td { vertical-align: top; }
.trend-chart .mod-box-hd { border-bottom: none; }
.trend-chart .other-lottery .trend-item { padding: 25px 0 26px; }
.trend-chart .other-lottery .trend-item .lottery-name { margin-bottom: 8px; padding-left: 20px; }
.trend-chart .other-lottery .trend-item ul { padding-left: 20px; }
.trend-item { padding: 20px 0 13px; }
.trend-item .lottery-img { position: relative; width: 57px; height: 57px; margin: 0 auto; overflow: hidden; }
.trend-item .lottery-img img { position: absolute; top: 0; left: 0; }
.trend-item .lottery-name { font: 16px/1.1 '微软雅黑'; color: #be0000; }
.trend-item .lottery-ssq img { clip: rect(0 57px 57px 0); clip: rect(0, 57px, 57px, 0); }
.trend-img { float: left; width: 100px; text-align: center; }
.trend-lnk { padding-top: 2px; overflow: hidden; *zoom: 1; }
.trend-lnk li { float: left; width: 90px; height: 26px; padding-left: 5px; line-height: 26px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.trend-lnk li a { color: #333; }
